In [4]:
import pandas as pd 
data={'name':['A','B'],'Roll': [10,12],'age':[20,21]}
df=pd.DataFrame(data,columns=['name','Roll','age'])
print(df)
print(df['age'])
print(df['Roll'])

  name  Roll  age
0    A    10   20
1    B    12   21
0    20
1    21
Name: age, dtype: int64
0    10
1    12
Name: Roll, dtype: int64